<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New <%= species.displayName %> Sighting</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New <%= species.displayName %> Sighting!</h1>
    <form action="/species/<%= species.name.trim().split(' ').join('-') %>" method="POST">
        <label for="name">Species Name:</label>
        <input type="text" name="name" id="name" readonly value="<%= species.name %>"/>
        <select name="class" id="class">
            <option value="mammal">Mammal</option>
            <option value="bird" selected>Bird</option>
            <option value="reptile">Reptile</option>
            <option value="amphibian">Amphibian</option>
            <option value="fish">Fish</option>
            <option value="invertebrate">Invertebrate</option>
        </select></br>
        <label for="description">Description: </label>
        <textarea type="text" name="description" id="description"></textarea></br>
        <label for="behaviour">Behaviour: </label>
        <input type="text" name="behaviour" id="behaviour"/></br>
        <label for="habitat">Habitat:</label>
          <select name="habitat" id="habitat">
            <% habitats.forEach(habitat => { %>
            <% if (habitat.country.includes(user.country)) { %>
            <option value="<%= habitat.name %>"><%= habitat.name %></option>    
            <% }}) %>
        </select></br>
        <label for="country">Country:</label>
        <select name="country" id="country">
           <option value="botswana">Botswana</option>
            <option value="france">France</option>
            <option value="united kingdom" selected>United Kingdom</option>
        </select></br>
        <label for="location">Local Location:</label>
        <input type="text" name="location" id="location" />
        <label for="date">Date:</label>
        <input type="date" name="date" id="date"/>
        <label for="numberSeen">Number Spotted:</label>
        <input type="number" name="numberSeen" id="numberSeen"/>
        <button type="submit">Add This Sighting</button>
    </form>
</body>
</html>
