<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bungee&family=Chewy&family=Fjalla+One&family=Freckle+Face&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Shadow&family=Mansalva&family=Patrick+Hand&family=Poller+One&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Wellfleet&display=swap" rel="stylesheet">
<title><%= listItem.name %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Species sighted: <%= listItem.displayName %></h1>
    <h2>Location spotted:</h2> 
    <p><%= listItem.location %></p>
    <h2>Date spotted:</h2> 
    <p><%= listItem.formattedDate %></p>
    <h2>Description:</h2> 
    <p><%= listItem.description %></p>
    <h2>Behaviour:</h2> 
    <p><%= listItem.behaviour %></p>
    <h2>Country:</h2>
    <% listItem.country.forEach(item => { %> 
    <p><%= item.name %></p>
    <% }) %> 
    <h2>Habitat:</h2> 
    <% listItem.habitat.forEach(item => { %> 
    <p><%= item.name %></p>
    <% }) %> 
    <h2>Class:</h2> 
    <p><%= listItem.class %></p>
    <label for="seen">Seen:</label> 
    <input type="checkbox" name="seen" id="seen" checked disabled/>
    <form action="/list/<%=listItem._id%>?_method=DELETE" method="POST">
        <button class="delete" type="submit">Delete This Sighting</button>
    </form>
    <div class="link-button-wrapper">
        <a class="link-button" href="/list/<%= listItem._id %>/edit">Edit This Sighting</a>
        <a class="link-button" href="/species/<%= listItem.name %>">Species Page</a>
    </div>
</body>
</html>