<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bungee&family=Chewy&family=Fjalla+One&family=Freckle+Face&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Shadow&family=Mansalva&family=Patrick+Hand&family=Poller+One&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Wellfleet&display=swap" rel="stylesheet">
<title><%= listItem.name %></title>
</head>
<body>
<%- include('../partials/_navbar.ejs') %>
<div class="sighting-card page-wrapper">
<h1>Sighting of: <%= listItem.displayName %></h1>
<div class="sighting-row">
  <div class="sighting-column">
    <h2>Class:</h2>
    <p class="capitalise"><%= listItem.class %></p>
  </div>
</div>
<div class="sighting-row">
  <div class="sighting-column">
    <h2>Location spotted:</h2>
    <p><%= listItem.location %></p>
  </div>
  <div class="sighting-column">
    <h2>Date spotted:</h2>
    <p><%= listItem.formattedDate %></p>
  </div>
</div>
<div class="sighting-row">
  <div class="sighting-column">
    <h2>Description:</h2>
    <p><%= listItem.description %></p>
  </div>
</div>
<div class="sighting-row">
  <div class="sighting-column">
    <h2>Behaviour:</h2>
    <p><%= listItem.behaviour %></p>
  </div>
</div>
<div class="sighting-row">
  <div class="sighting-column">
    <h2>Country:</h2>
    <% listItem.country.forEach(item => { %>
      <p class="capitalise"><%= item.name %></p>
    <% }) %>
  </div>
  <div class="sighting-column">
    <h2>Habitat:</h2>
    <% listItem.habitat.forEach(item => { %>
      <p class="capitalise"><%= item.name %></p>
    <% }) %>
  </div>
</div>
    <div class="form-wrapper" >
    <form action="/list/<%=listItem._id%>?_method=DELETE" method="POST">
         <a class="link-button" href="/list/<%= listItem._id %>/edit">Edit This Sighting</a>
        <button class="submit" type="submit">Delete entry</button>
    </form>
    </div>
</div>
<div class="link-button-wrapper">
    <a class="link-button" href="/species/<%= listItem.name %>">Species Page</a>
</div>
</body>
</html>