<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bungee&family=Chewy&family=Fjalla+One&family=Freckle+Face&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Shadow&family=Mansalva&family=Patrick+Hand&family=Poller+One&family=Ribeye+Marrow&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Wellfleet&display=swap" rel="stylesheet">
<title> <%= habitat.displayName %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= habitat.displayName %></h1>
    <h2>Species spotted in the <%= habitat.name %>!</h2>
    <% if (species.length === 0) { %>
    <h2>No species spotted in this habitat yet!</h2>
         <% } else { %>
    <ul>
        <% species.forEach(item => { %>
        <li class="species-cards" ><a href="/species/<%= item.name %>"><%= item.displayName %></a></li>
        <% }) %>
    </ul>
    <% } %>
</body>
</html>