<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= habitat.displayName %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1><%= habitat.displayName %></h1>
    <h2>Species spotted in the <%= habitat.name %>!</h2>
    <% if (species.length === 0) { %>
    <h2>No species spotted in this habitat yet!</h2>
         <% } else { %>
    <ul>
        <% species.forEach(item => { %>
        <li><a href="/species/<%= item.name %>"><%= item.displayName %></a></li>
        <% }) %>
    </ul>
    <% } %>
    <!-- <a href="/list/new">Add New Sighting</a><br> -->
</body>
</html>